body {
    height: 100vh;
    color: white;
    font-family: courier, monospace;
    text-align: center;
    background: linear-gradient(-60deg,rgb(39,255,243), rgb(12,44,176));
}

#weekday {
    height: auto;
    width: auto;
    font-size: 3.5em;
}

#date {
    height: auto;
    width: auto;
    font-size: 1.5em;
}

#clock {
    max-height: 100px;
    width: 800px;
    margin: auto;
    position: absolute;
    top: 0; 
    left: 0; 
    bottom: 0; 
    right: 0;
    font-size: 6em;
}
